*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #183446;
    color: white;
}

a{
    color:white;
}

nav{
    background-color: #046e8f;
    height: 70px;
    position: relative
}

nav ul{
    position: absolute;
    right:0;
}

nav li{
    display:inline-block;
}

nav a{
    padding: 24px;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #0090c1;
}

#about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about h1{
    font-size: 56 px;
    margin-bottom: 24px;
}

#about p{
    font-size: 32px;
}

#projects{
    background-color: #38aecc;
    padding: 80px 32px;
    text-align: center;
}

section h2{
    font-size: 40px;
    margin-bottom: 48px;
}

#projects div{
    max-width: 522px;
    background-color: #183446;
    margin-bottom: 32px;
    display: inline-block;
}

#projects div img{
    width:100%;
    margin-bottom: 20px;
}

#projects a{
    font-size: 16 px;
    padding-bottom: 20px;
    display: block;
}